* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

i {
    color: rgb(110, 108, 122);
    margin-left: 15px;

}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(18, 6, 94);
    border-radius: 15px;
    /* background: rgb(116, 110, 110) ; */
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30 px;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    position: relative;
}

.form-box h1::after {
    content: ' ';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: red;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field {
    background: rgb(255, 255, 255);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

form p {
    text-align: center;
    font-size: 13px;
    color: aliceblue;
}

form a {
    text-decoration: none;
    color: red;
}

button-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-field button {
    flex-basis: 48%;
    background: white;
    color: red;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    width: 100px;
    font-weight: bold;
}

.input-group {
    height: 240px;
}

.button-field button.disable {
    background: red;
    color: white;
}